



.container {  
  display: grid;
  display: grid; 
  grid-template-columns: 4.2fr 5.6fr; 
  grid-template-rows: 0.6fr 3.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header"
    "clicker store"; 
    height: 100vh;
  }
  
  .Header { grid-area: Header; 
             background-color: 255, 232, 209;
             font-family: "Lobster", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            }
  
  .store { grid-area: store;
        background-color: rgb(241, 160, 233);
        text-align: center;
        font-family: "Lobster", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center; }  
  
  .clicker { grid-area: clicker;
             background-color:rgb(241, 160, 233); 
             text-align: center;
              }


             .border-box {
              border: 2px solid rgb(50, 49, 19);
              background-color: rgb(237, 237, 31);
              color: black;  
              border-radius: 50%;
              margin: 0 auto;
              padding: 30px;
              width: 200px;
              cursor: pointer; 
          } 
    
          
  