



.container {  
  display: grid;
  display: grid; 
  grid-template-columns: 4.2fr 5.6fr; 
  grid-template-rows: 0.6fr 3.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header"
    "clicker store"; 
    height: 100vh;
  }
  
  .Header { grid-area: Header; 
             background-color: rgb(224, 112, 130) ; ;
             font-family: "Lobster", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            }
  
  .store { grid-area: store;
         background-color: rgb(249, 190, 200) ; 
        text-align: center;
        font-family: "Lobster", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center; }  
  
  .clicker { grid-area: clicker;
             background-image: url("images/balloons.webp");
             text-align: center;
              }


             .border-box {
              border: 2px solid rgb(50, 49, 19);
              background-color: rgb(237, 237, 31);
              color: black;  
              border-radius: 50%;
              margin: 0 auto;
              padding: 30px;
              width: 200px;
              cursor: pointer; 
          } 


          .button {
            padding: 15px 25px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #deadd5;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #deadd5;
          } 

          .button:hover {background-color: #efd0e9}


          .button:active {
            background-color: #deadd5;
            box-shadow: 0 5px #deadd5;
            transform: translateY(4px);
          }
          
    
          
  